<h1 mat-dialog-title>Détail de saisie
<button mat-button class="btnClose" (click)="closeBtn()"><mat-icon>close</mat-icon></button></h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker"
             placeholder="Choose a date"
             [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker>
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker1"
             placeholder="Choose a date"
             [(ngModel)]="endDate" >
      <mat-datepicker-toggle matSuffix [for]="$any(picker1)">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1>
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Type de saisie</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let saisie of typeSaisie" [value]="saisie">
          {{saisie}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selected==null">Type de saisie manquant !</mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn"(click)="deleteSaisie(data)" [mat-dialog-close]="data" cdkFocusInitial>Supprimer</button>
  <button mat-button  (click)="changeDate()">Ok</button>
</div>

